body {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

.TaskTango {
    width: 170px;
    position: absolute;
    top: 137px;
    left: 20px;
    border-radius: 5px;
}

.login-wrapper {
    background: linear-gradient(45deg, #379144, #ffffff); /* Gradient background */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adding a subtle shadow */
    padding: 20px; /* Add padding for better appearance */
    
    .heading {
        margin-left: 200px;
        margin-top: 100px;
        font-family: system-ui;
        font-weight: 500;
        color: #212121;
    }

    .sub-heading {
        margin-left: 200px;
        margin-top: -20px;
        font-family: system-ui;
    }
}



.auth-inputs{
display: flex;
flex-direction: column;
gap: 10px;
width: 290px;
margin-left:200px;
.commen-input{
    height: 20px;
    padding: 10px;
    
}
::placeholder{
    color: #ffffff;
}

}
.forgot-password {
    color: rgba(22, 39, 224, 0.708);
    text-decoration: underline; /* Underline the text */
    cursor: pointer; /* Change cursor to pointer on hover */
    
}



.login-btn{
    
    background-color: #379144; 
    color: #ffffff;
    border: solid 2px;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    position: relative;
    width: 290px;
    overflow: hidden;
    transition: color 0.3s, border-color 0.3s;
    cursor: pointer;
    margin-left:200px;
}
  
    /* Text styles */
    span {
    position: relative;
    z-index: 1;
    }
  
     /* Line effect */
    .login-btn:before {
    content: '';
    position: absolute;
    bottom: 0; /* position of the line*/
    left: 50%; /* which direction */
    width: 0; /* where the line starts */
    height: 2px; /* size of */
    background-color: #ffffff; /* color of the line*/
    transition: width 0.5s, left 0.5s; /* time for the line to travel*/
    }
  
   
  
    .login-btn:hover::before {
    width: 100%; /* Extend line width on hover */
    left: 0; /* Align line from the left */
    }


